@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&display=swap');
:root {
    --light-color: #FFFFFF;
    --general-color: #1C1C1BBA;
    --dark-color: #1C1C1B;
    --contrast-color: #fbb01f;
    --additional-contrast-color: #99b20f;
}

body {
    max-width: 1024px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h1 {
    font-family: 'Montserrat', cursive;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
}

header section span {
    font-size: 30px;
}

h2 {
    font-family: 'Montserrat', cursive;
    color: var(--dark-color);
    font-size: 38px;
    margin: 20px;
}

h3 {
    font-family: 'Montserrat', cursive;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(230, 230, 230);
    font-weight: 650;
}

header nav .navbar-brand {
    font-family: 'Montserrat', cursive;
    font-size: 1.7rem;
}

.social-menu {
    margin-top: 10px;
}

.social-menu img {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 10px;
}

header span {
    font-family: 'Montserrat', cursive;
    font-size: 22px;
}

header {
    background-image: url(../imgs/backgrounds/header-background.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: var(--light-color);
}

header section {
    padding: 10px 0px 20px 0px;
}

.divider-line {
    width: 100%;
    margin: 15px 0 30px 0;
}

header section p {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}

.btns-group {
    display: grid;
    justify-content: center;
    margin: 10px 0px 80px 0px;
}

header .btn-1, main .btn-in-gallery, main .btn-want-to-nature {
    background-color: var(--contrast-color);
    color: var(--light-color);
    font-size: 17px;
    font-weight: 650;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: var(--dark-color);
    width: auto;
    margin: 10px;
}

header .btn-1:hover, main .btn-in-gallery:hover, main .btn-want-to-nature:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

header .btn-2 {
    background-color: transparent;
    color: var(--light-color);
    font-size: 17px;
    font-weight: 650;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: 2px solid var(--contrast-color);
    width: auto;
    margin: 10px;
}

header .btn-2:hover {
    background-color: var(--contrast-color);
}

main {
    color: var(--general-color);
}

article p {
    font-size: 16px;
    margin: 20px;
}

.follow-us span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
}

.follow-us img {
    height: 30px;
    margin: 5px 15px 5px 15px;
}

.buda_futures_ico {
    margin: 20px 0 20px 0;
}

.btn-order-now-container {
    margin: 20px 0 20px 0;
}

.btn-order-now {
    background-color: var(--additional-contrast-color);
    color: var(--light-color);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: var(--dark-color);
    width: fit-content;
    margin: 10px;
}

.btn-order-now:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.crossing-background-colors {
    background-image: url(../imgs/backgrounds/---to-black-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-bottom: -1px;
}

.gallery-container {
    background-color: rgb(28, 28, 27);
}

.gallery-container h2 {
    color: var(--light-color);
    margin: 0;
    padding-top: 10px;
}

.btn-in-gallery-container {
    padding: 20px 0 30px 0;
}

.crossing-background-colors-2 {
    background-image: url(../imgs/backgrounds/black-to---background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: -20px;
}

.want-to-nature-container {
    background-image: url(../imgs/backgrounds/nature-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.want-to-nature {
    padding: 100px 0;
    color: var(--light-color);
}

main .want-to-nature h2, main .testimonials h2, main .testimonials p, main .testimonials h3 {
    color: var(--light-color);
}

main .testimonials {
    background-image: url(../imgs/backgrounds/testimonials-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    padding: 10px 10px 150px 10px;
    color: var(--dark-color);
    font-weight: 500;
    display: grid;
}

main .testimonials article {
    background-color: var(--contrast-color);
    margin: 10px;
    display: grid;
}

.testimonials img {
    width: 120px;
    border-radius: 100px;
    justify-self: center;
    margin: 10px;
}

.faq-container {
    background-color: rgb(243, 243, 242);
}

.faq-container h2 {
    margin: -30px 0 15px 0;
}

.contacts-container {
    margin: 50px 5px 5px 5px;
    background-color: var(--contrast-color);
    padding: 20px 5px;
    font-weight: 500;
}

.booking-form-container h2 {
    font-size: 20px;
}

.booking-form-container .date {
    margin-bottom: -20px;
}

.booking-form-container input,
.booking-form-container textarea {
    margin: 0 0 10px 0;
    min-width: 240px;
    border-radius: 10px;
    border: 1px;
    padding: 0 10px;
}



.booking-form-container label {
    width: 100px;
}

.booking-form-container {
    padding: 20px 0 0px 0;
}

footer {
    background-image: url(../imgs/backgrounds/footer-background.png);
    background-size: auto;
    background-position: center;
    min-height: 800px;
}