@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&display=swap');

:root {
    --light-colour: #FFFFFF;
    --general-colour: #1C1C1BBA;
    --dark-colour: #1C1C1B;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-colour);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light-colour);
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 65px;
    font-weight: 300;
}

header section span {
    font-size: 30px;
}

h2 {
    font-family: 'Passion One', cursive;
    color: var(--dark-colour);
    font-size: 38px;
    margin: 20px;
}

h3 {
    font-family: 'Passion One', cursive;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-colour);
    font-size: 18px;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(230, 230, 230);
    font-weight: 650;
}

header nav .navbar-brand {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.4rem;
}

.social-menu {
    margin-top: 10px;
}

.social-menu img {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 10px;
}

header span {
    font-family: 'Passion One', cursive;
    font-size: 22px;
}

header {
    background-image: url(../imgs/backgrounds/header-background.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: var(--light-colour);
}

header section {
    padding: 10px 0px 20px 0px;
}

.divider-line {
    width: 100%;
    padding: 15px 0;
}

header section p {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
}

.btns-group {
    display: grid;
    justify-content: center;
    margin: 10px 0px 20px 0px;

}

header .btn-1 {
    background-color: #fbb01f;
    color: var(--light-colour);
    font-size: 16px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: var(--dark-colour);
    width: auto;
    margin: 10px;

}

header .btn-2 {
    background-color: transparent;
    color: var(--light-colour);
    font-size: 16px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: 2px solid #fbb01f;
    width: auto;
    margin: 10px;
}

main {
    color: var(--general-colour);
}

article p {
    font-size: 16px;
    margin: 20px;
}

.follow-us span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-colour);
}

.follow-us img{
    height: 30px;
    margin: 5px 15px 5px 15px;
}

.trailer-models a {
    color: var(--general-colour);
}

.btn-order-now {
    background-color: #99b20f;
    color: var(--light-colour);
    font-size: 16px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    border-radius: 100px;
    padding: 15px 25px;
    border: var(--dark-colour);
    width: fit-content;
    margin: 10px;
}

.crossing-background-colors {
    background-image: url(../imgs/backgrounds/---to-black-background.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.gallery-container {
    background-image: url(../imgs/backgrounds/black-background.png);
}

.gallery-container h2 {
    color: var(--light-colour);
    margin: 0 0 20px 0;
}

.crossing-background-colors-2 {
    background-image: url(../imgs/backgrounds/black-to---background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: -20px;
}

footer {
    background-image: url(../imgs/backgrounds/footer-background.png);
    background-size: auto;
    background-position: center;
    min-height: 800px;
}