@media (min-width: 426px) {
    
    header .btns-group {
        display: flex;
    }
    
    p {
        font-size: 17px;
    }

    .testimonials-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contacts-container {
        display: flex;
        justify-content: center;
    }

    .booking-form-container {
        padding: 0;
        margin-top: -20px;
    }

    form {
        padding: 0 10px;
    }
}

@media (min-width: 769px) {
    p {
        font-size: 19px;
    }

    .follow-us span {
        font-size: 25px;
    }

    .testimonials-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
.navbar-collapse {
    flex-grow: 0 !important;
}
}

@media (min-width: 1025px) {
    header section {
        padding: 80px 0px 180px 0px;
    }

    .want-to-nature {
        padding: 300px 0;
    }
}