.buda-carousel .swiper-container {

}

.gallery-carousel .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.gallery-carousel .swiper-pagination-bullet {
  background-color: var(--contrast-color);
}

.buda-carousel .swiper-pagination-bullet {
  background-color: var(--additional-contrast-color);
}